
/* GENERAL */
body {
    color: #fff;
    background: #333;
}

p {
    font-size: 1.1em;
}

a {
    color: #c2185b;
    position: relative;
}
a::after {
    content: '';
    background: #fff;
    width: 100%;
    height: 0.15em;
    opacity: 0;
    position: absolute;
    bottom: -4px;
    left: 0;
    right: 0;
    transition: all 0.3s;
}
a:hover::after,
a:focus::after {
    opacity: 1;
}

.material-tooltip {
    color: #222;
    background-color: #fff;
}

/* HEADER */
.header #nav-mobile a {
    transition: all 0.3s;
}
.header #nav-mobile a:hover {
    color: #f4511e;
    background: #fff;
}

/* FORM */
form .btn {
    color: #fff;
    background: #c2185b;
}
form .btn:hover,
form .btn:focus {
    color: #c2185b;
    background: #fff;
}
form .btn-large {
    width: 100%;
}

.input-field input {
    color: #f5f5f5;
}
.input-field label {
    color: #c5c5c5;
}

/* DRAG & DROP FILE INPUT */
.file-field {
    height: 12em;
    border: 0.2rem dashed #ccc;
    border-radius: 1.2rem;
    box-sizing: border-box;
    padding: 0;
    transition: all 0.3s;
}
.file-field:hover,
.file-field.dragenter {
    color: #c5c5c5;
    box-shadow: 0.2rem 0.2rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
}
.file-field i {
    font-size: 4.5rem;
    margin: 1rem 0 1.3rem 0;
}
.file-field p {
    font-size: 1.2rem;
    margin: 0 0 0.5rem 0;
}
.file-field p.italic {
    color: #c5c5c5;
    font-size: 0.9rem;
    font-style: italic;
}

.dragdrop-uploaded {
    position: relative;
}
.dragdrop-uploaded .close {
    color: #333;
    font-size: 2.5rem;
    opacity: 1;
    margin: 0;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    transition: all 0.3s;
}
.dragdrop-uploaded .close:hover {
    color: #dd0000;
    transform: scale(1.4);
}

/* LOADING */
.preloader-container {
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    display: none;
}
.preloader-container .proloader-wrapper {
    position: relative;
}
