
/* DRAG & DROP FILE INPUT */
.file-field {
    height: 12em;
    border: 0.2rem dashed #ccc;
    border-radius: 1.2rem;
    box-sizing: border-box;
    padding: 0;
    transition: all 0.3s;
}
.file-field:hover,
.file-field.dragenter {
    color: #666;
    box-shadow: 0.2rem 0.2rem 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
}
.file-field i {
    font-size: 4.5rem;
    margin: 1rem 0 1.3rem 0;
}
.file-field p {
    font-size: 1.2rem;
    margin: 0 0 0.5rem 0;
}
.file-field p.italic {
    color: #777;
    font-size: 0.9rem;
    font-style: italic;
}
