{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Technocrarc</title>
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Cache-control" content="no-cache">

  <!-- STYLES -->
  <link rel="stylesheet" href="{% get_static_prefix %}css/materialize.css">
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>

  <header class="header">
    <nav class="nav">
      <div class="nav-wrapper deep-orange darken-1">
        {% if user.is_authenticated %}
        <a href="/editor" class="brand-logo left">Technocrarc</a>
        {% else %}
        <a href="/" class="brand-logo left">Technocrarc</a>
        {% endif %}

        <ul id="nav-mobile" class="right">
          {% if user.is_authenticated %}
          <li>
            <div class="input-field col s12 center-align">
              <select id="projectSelector">
              </select>
            </div>
          </li>
          <li><a href="logout" class="tooltipped" data-position="bottom" data-tooltip="Logout"><i
                class="material-icons">logout</i></a></li>
          {% else %}
          <li><a href="log-in" class="tooltipped" data-position="bottom" data-tooltip="Login"><i
                class="material-icons">exit_to_app</i></a></li>
          <li><a href="sign-up" class="tooltipped" data-position="bottom" data-tooltip="Register"><i
                class="material-icons">add_box</i></a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </header>

  <main class="main">
    {% block content %}{% endblock content %}
  </main>

{% if user.is_authenticated %}
<footer class="page-footer grey darken-4">
    <div class="container">
        <div class="center">

            <ul class="footer-actions">
                <li>
                    <a id="createProjectMenu" class="btn-floating btn-large green modal-trigger tooltipped waves-effect waves-light" data-tooltip="Create a new project" data-position="top" data-target="uploadFileDialog"><i class="material-icons">add</i></a>
                </li>
                <li>
                    <a id="playPauseMenu" class="btn-floating btn-large purple tooltipped hide waves-effect waves-light" data-tooltip="Play / Pause" data-position="top"><i id="playPauseButtonImage" class="material-icons">play_arrow</i></a>
                </li>
                <li>
                    <a id="aiSplitMenu" class="btn-floating btn-large blue tooltipped hide waves-effect waves-light" data-tooltip="AI Split" data-position="top"><i class="material-icons">shuffle</i></a>
                </li>
            </ul>

        </div>
    </div>
</footer>
{% endif %}

{% block scripts %}
<script type="text/javascript">
    // GLOBAL VARIABLES
    const STATIC_URL = {% get_static_prefix %}
</script>
<script src="//code.jquery.com/jquery-3.1.1.min.js" defer></script>
<script src="{% static 'js/materialize.js' %}" defer></script>
<script defer>
    document.addEventListener('DOMContentLoaded', (evt) => {
    M.AutoInit()
})
</script>
{% endblock scripts %}

</body>

</html>
