{% extends '_base.html' %}

{% block content %}
    <div id="song">
    </div>
{% endblock content %}

{% block script %}
    <script>
    window.addEventListener('DOMContentLoaded', (event) => {
        var socket = new WebSocket('ws://' + window.location.host + '/ws/background-tasks/')

        function createAudioTag(url) {
            var sound = document.createElement('audio')
            sound.id = 'audio-player'
            sound.controls = 'controls'
            sound.src = url
            sound.type = 'audio/wav'

            document.getElementById('song').appendChild(sound)
        }

        socket.onopen = function open(e) {
            console.log('WebSockets connection created.')
            socket.send(JSON.stringify({'message': 'message'}))
        }

        socket.onmessage = function onMessage(e) {
            console.log('Message')
            console.log(e)
            console.log(e.data)
            const url = e.data
            createAudioTag(url)
        }

        socket.onclose = function onClose(e) {
            console.log(e)
        }

        if (socket.readyState == WebSocket.OPEN) {
            socket.onopen()
        }
    })
    </script>
{% endblock script %}
