
{% extends '_base.html' %}

{% block content %}
<div class="container">
    <div class="center">
        <h1 class="main-title">Technocrarc</h1>

        <form id="form-upload-sound" action="upload" method="POST">

            <div class="file-field input-field">
                <input id="sound-file-input" type="file" accept="audio/x-waw" required>
                <div class="file-path-wrapper">
                    <div class="dragdrop-figure">
                        <i class="material-icons">cloud_upload</i>
                        <p>Drop your sound here !</p>
                        <p class="italic">Max 50 MB</p>
                        <input class="file-path validate" type="text" hidden>
                    </div>
                    <div class="dragdrop-uploaded" hidden>
                        <i class="material-icons">check_circle</i>
                        <p class="uploaded-file-name italic"></p>
                        <p class="uploaded-file-size italic"></p>
                    </div>
                </div>
            </div>

            <button class="btn btn-large waves-effect waves-light" type="submit">UPLOAD</button>

        </form>

    </div>
</div>
{% endblock content %}
