{% extends '_base.html' %}

{% block content %}
<div class="container">
    <div class="center">
        <h1 class="main-title">Technocrarc</h1>

        <p>A platform to edit your favourite music.</p>
        <p>Split your music up to 5 different channels.</p>
        <ul>
            <li>Drums</li>
            <li>Bass</li>
            <li>Piano</li>
            <li>Vocals</li>
            <li>Others</li>
            <li></li>
        </ul>

        <p><a href="sign-up" class="underline">Register</a> in order to use this app.</p>

        <p>Already have an account ? <a href="log-in" class="underline">Sign in</a> !</p>

    </div>
</div>
{% endblock content %}
