{% extends '_base.html' %}

{% block content %}
<div class="container">
  <div class="center">
    <h1 class="main-title">Sign up</h1>

    {{ debug }}

    <div class="row">
      <form class="col s12" method="POST" action="sign-up">
        {% csrf_token %}

        {% for field in form %}
          <div class="row">
            <div class="input-field col s12">
              {{ field }}
              <label for="{{ field.id_for_label }}">{{ field.label }}</label>
              {% if field.errors %}
                <ol>
                  {% for error in field.errors %}
                    <strong style="color: red;" class="left">{{ error|escape }}</strong>
                    {% endfor %}
                  </ol>
              {% endif %}
            </div>
          </div>
        {% endfor %}
        <button class="btn btn-large waves-effect waves-light" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
