{% extends '_base.html' %}

{% block content %}
<div class="container">
  <div class="center">
    <h1 class="main-title">Sign up</h1>

    {{ debug }}

    <div class="row">
      <form class="col s12" method="POST" action="sign-up">
        {% csrf_token %}

        {% for field in form %}
          <div class="row">
            <div class="input-field col s12">
              {{ field }}
              <label for="{{ field.id_for_label }}">{{ field.label }}</label>
              {% if field.errors %}
                <ol>
                  {% for error in field.errors %}
                    <strong style="color: red;" class="left">{{ error|escape }}</strong>
                    {% endfor %}
                  </ol>
              {% endif %}
            </div>
          </div>
        {% endfor %}



        <!-- <div class="row">
          <div class="input-field col s6">
            {{ form.first_name }}
            <label for="{{ form.first_name.id_for_label }}">First Name</label>
            {% if form.first_name.errors %}
              <ol>
                {% for error in form.first_name.errors %}
                  <strong style="color: red;" class="left">{{ error|escape }}</strong>
                {% endfor %}
              </ol>
            {% endif %}
          </div>
          <div class="input-field col s6">
            {{ form.last_name }}
            <label for="{{ form.last_name.id_for_label }}">Last Name</label>
            {% if form.last_name.errors %}
              <ol>
                {% for error in form.last_name.errors %}
                  <strong style="color: red;" class="left">{{ error|escape }}</strong>
                {% endfor %}
              </ol>
            {% endif %}
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            {{ form.password }}
            <label for="{{ form.password.id_for_label }}">Password</label>
            {% if form.password.errors %}
              <ol>
                {% for error in form.password.errors %}
                  <strong style="color: red;" class="left">{{ error|escape }}</strong>
                {% endfor %}
              </ol>
            {% endif %}
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            {{ form.password_conf }}
            <label for="{{ form.password_conf.id_for_label }}">Password confirmation</label>
            {% if form.password_conf.errors %}
              <ol>
                {% for error in form.password_conf.errors %}
                  <strong style="color: red;" class="left">{{ error|escape }}</strong>
                {% endfor %}
              </ol>
            {% endif %}
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">

            {{ form.email }}
            <label for="{{ form.email.id_for_label }}">Email</label>
            {% if form.email.errors %}
              <ol>
                {% for error in form.email.errors %}
                  <strong style="color: red;" class="left">{{ error|escape }}</strong>
                {% endfor %}
              </ol>
            {% endif %}
          </div>
        </div> -->

        <button class="btn btn-large waves-effect waves-light" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
